@font-face {
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

.background{
    -fx-background-color: #194fa8;
}

.mainPaneMoedas{
    -fx-font-family: 'Open Sans:700', sans-serif;
}

.labelMoedas{
    -fx-padding: 0 0 0 15;
    -fx-font-family: 'Open Sans:400', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 36px;

}
.BtnAdicionarMoeda{
    -fx-padding: -5 -5 -5 -5;
    -fx-background-color: #2a384a;
    -fx-text-fill:white;
    -fx-font-size: 36px;
}
.PaneTitulo{
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #2a384a;
}
.labelsIndividual{
    -fx-padding: 0 0 0 10;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #2a384a;
}