#borderTop{
    -fx-background-color: #1c2732;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #222f3c;/*#1b75bc*/
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #222f3c;/*#1b75bc*/
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #c1c1c1;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill:#3FE387;
}

.tab .tab-label {
    -fx-text-fill: #EBEAF0;
}

.tab{
    -fx-background-color: #222f3c;
    -fx-border-color: #1c2732;
    -fx-fill: #c2c2c2;
}

.tab:selected{
    -fx-background-color: #1c2732;
    -fx-border-color: #3FE387;
    -fx-fill: #FFF;
}

#TabTitle{
color: #bbbbbb;
}
